

.main {
  background-color: black;
  display: flex;
  background-image: url(/jason-canva-banner-2.png);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  margin: 2rem;
  min-height: 100vh;
  width: stretch;
}

.nav  {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  grid-gap: 2rem;
  background-color: transparent;
}
.grid {
  display: grid;
  grid-template-columns:  3fr 3fr 3fr 3fr;
  grid-gap: 15px;
}



/* Mobile */
@media (max-width: 700px) {
  
.main {
  
  background-image: url(/jason-canva-bg.png);
}
  
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}



}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .main {
    background-image: url(/jason-canva-bg.png);
  }


}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
